# Finding out all the genres types
This script was used to determine all the different genres contained in our genres string. Obviously with so many rows of data and multiple genres for a lot of the movies I felt the best way to go about this was to look at the data and iterate through the genre column looking for unique values

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
movies['genres'].value_counts()

Drama                                                     1053
Comedy                                                     946
Comedy|Drama                                               435
Comedy|Romance                                             363
Drama|Romance                                              349
                                                          ...
Adventure|Animation|Comedy|Fantasy|Musical                   1
Comedy|Crime|Drama|Horror|Mystery                            1
Action|Adventure|Animation|Children|Comedy|Sci-Fi|IMAX       1
Adventure|Animation|Children|Comedy|Crime                    1
Crime|Drama|Fantasy|Thriller                                 1
Name: genres, Length: 951, dtype: int64

In [9]:
genres = movies['genres'].str.split('|', expand=False)
genres

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9737                 [Action, Animation, Comedy, Fantasy]
9738                         [Animation, Comedy, Fantasy]
9739                                              [Drama]
9740                                  [Action, Animation]
9741                                             [Comedy]
Name: genres, Length: 9742, dtype: object

In [11]:
i = 0
values = []
while i < len(genres):
    j = 0
    while j < len(genres[i]):
        if genres[i][j] not in values:
            values.append(genres[i][j])
            j += 1
        else:
            j += 1
    i = i + 1

In [13]:
values # here is all the unique genres in our data

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'War',
 'Musical',
 'Documentary',
 'IMAX',
 'Western',
 'Film-Noir',
 '(no genres listed)']